.list{
  padding-left: 0;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.listText{
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 200px;
  height: 40px;
}

.listInput{
  padding-left: 10px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #444;
  background-color: rgba(#444, 0.2);
  border: none;
  box-sizing: border-box;
}

.listButton{
  height: 40px;
  text-transform: uppercase;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}