.main {
  width: 100%;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.layerMap {
  flex: 5 1 auto;
  align-self: auto;
}

.layerTitle {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight:bold;
}

.list {
  padding: 15px;
  padding-top: 48px;
  flex: 1 1 auto;
  align-self: auto;
  width: 100%;
  max-width: 470px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  background-color: #444;
  border: none;
  cursor: pointer;
}