.container{
  display: flex;

}

.map{
  flex: 5 1 auto;
  align-self: auto;
}

.content{
  padding: 15px;
  padding-top: 48px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

.layerTitle {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 18px;
  text-transform: uppercase;
  font-weight:bold;
}

.button{
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  background-color: #444;
  color: #fff;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.field{
  padding-top: 15px;
  padding-bottom: 15px;
}

.label{
  font-size: 16px;
  padding-bottom: 5px;
}

.input{
  margin-top: 5px;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  color: #444;
  background-color: rgba(#444, 0.2);
  border: none;
  box-sizing: border-box;
}

.textInfo{
  display: block;
  padding-top: 15px;
  font-size: 14px;
  color: #999;
}