<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
    <style>
        body {
            padding-bottom: 30px;
        }
        h1, h2, p {
            font-family: sans-serif;
            text-align: center;
        }
        .leaflet-container {
            height: 600px;
            width: 100%;
            margin: 0 auto;
        }
    </style>

</head>
<body>
<div id="container"></div>
</body>
</html>